body{
    overflow-x: hidden;
    display: flex;
    background-image: url("https://i.pinimg.com/originals/3d/1c/e3/3d1ce3fb1985505ba88e01e525a8f841.gif");
    background-position: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.custom-clip{
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    width: 200px;
    margin: 0px auto;
    height: 200px;
}
.card:hover{
    box-shadow: -7px 26px 67px 32px rgba(0,0,0,0.75);
    margin: 0px auto;
    border-radius: 100px;
}
.card{
    width: 35rem;
}
@media screen and (min-width:0px) and (max-width:580px) {
    .card{
        width: 25rem;
        text-transform: lowercase;
    }
}